*.class
.idea
target/ 
out/*
.settings
.DS_Store
.classpath
.pythonenv
.direnv
.gradle
build
gradle/wrapper
build.gradle.kts
gradlew
gradlew.bat
settings.gradle.kts
.ipynb_checkpoints
bin/main
openPMD-visualization.ipynb
