<?xml version="1.0"?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type org.springframework.web.servlet.DispatcherServlet.render(DispatcherServlet.java:1266)
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <withJansi>false</withJansi>
    <encoder>
      <pattern>not workingnot working
            </pattern>
    </encoder>
  </appender>
  <logger name="org.mongodb.driver" level="WARN"/>
  <logger name="org.mongodb.driver.connection" level="OFF"/>
  <logger name="de.caluga" level="OFF"/>
  <logger name="de.caluga.*" level="ERROR"/>
  <logger name="de.caluga.morphium.driver" level="OFF"/>
  <logger name="de.caluga.morphium.server" level="WARN"/>
  <logger name="de.caluga.morphium.driver.inmem.InMemoryDriver" level="ERROR"/>
  <logger name="de.caluga.morphium.messaging.Messaging" level="OFF"/>
  <root level="OFF">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
